.navchild {
    position: relative;
    display: inline-block;
    float: right;
    right: 25px;
}

.navchild1 {
    display: inline-block;
    position: relative;
    left: 25px;
    float: left;
    top: 10px;
}

.navchild2 {
    float: right;
    display: inline-block;
    position: relative;
    right: 25px;
    margin-right: 20px;
    top: 10px;
}


.backimg {
    width: 100%;
    height: 500px;
}


.head {
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
}

.flexcontainer {
    align-items: center;
    justify-content: center;
}

.flexchild {
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    background-color: #966F33;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.felxchild:first-child {
    margin-right: 20px;
}

ol {
    list-style: none;
    padding-right: 10px;
  display: inline-block;
  
}

li {
    text-align: center;
}

    a:hover {
        color: #027b3e;
    }

.myname {
    text-align: center;
    display: inline-block;
    position: relative;
    left: 600px;
}

.Potstickerlink {
    text-align: center;
    display: block;
}

.Souplink {
    text-align: center;
    display: block;
}

p {
    text-align: center;
}
